<?xml version="1.0"?>
<robot name="tank">
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>
  <link name="base_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
  <joint name="base_to_cad" type="fixed">
    <parent link="base_link"/>
    <child link="base_cad"/>
    <origin rpy="0 0 3.1415" xyz="-0.018 0 0"/>
  </joint>
  <link name="base_cad">
    <visual>
      <origin rpy="1.571 0 0" xyz="0 0 0.0955"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="package://urdf_tutorial/meshes/ChassisWOComp.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>
</robot>
